{% extends "base.html" %} {% block title %}Valorant Stats-Coaches{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Search for an Esports Coach</h3>
    <div class="form-group">
        <input type="coachName" class="form-control" placeholder="Search for a Valorant Coach" id="coachName" name="coachName"/>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<style>
    td{
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px
    }
</style>
<div>
    <h3 align="center">Coaches</h3>
    <table align="center">
        <thead>
            <th>Esport Name</th>
            <th>Age</th>
            <th>Country</th>
            <th>Team Name</th>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}