{% extends "base.html" %} {% block title %}Valorant Stats-Home{% endblock %}

{% block content %}

<h1 align="center">Valorant Stats Home</h1>

<h3>For our CSE412 project we have created a Valorant based database to store commonly searched information about valorant teams, players, and coaches.</h3>

<t1 align="center">Use the dropdown menu above to navigate through the pages</t1>
<t1 align="center">The Teams page displays all the teams currently stored in our database. Use the search bar to search for your favorite team.</t1>
<t1 align="center">The Players page displays all the players currently stored in our database. Use the search bar to search for your favorite player.</t1>
<t1 align="center">The Coaches page displays all the coaches currently stored in our database. User the search bar to search for your favorite Coach.</t1>
<t1 align="center">To begin, use the drop down menu above to select a category to search for.</t1>
<h4>**All search bars are case sensitive!</h4>


{% endblock %}